{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body class="flex-col flex-center">
    <header class="w100 flex-center">
        <div class="container-header flex-center w100">
            <a href="{% url 'inicio' %}" title="Logo de ISKA" class="anchor-logo flex-center">
                <img src="{% static 'images/logo.png' %}" alt="Logo de ISKA" class="logo">
            </a>
            <nav class="flex-center">
                <input type="checkbox" id="check-menu-hamburger">
                <label for="check-menu-hamburger" class="menu-hamburger">
                    <i class="fas fa-bars"></i>
                </label>
                <ul class="menu-list flex-row">
                    <li>
                        <a href="{% url 'inicio' %}" title="Sección de Inicio">INICIO</a>
                    </li>
                    <li>
                        <a href="{% url 'servicios' %}" title="Sección de Servicios">SERVICIOS</a>
                    </li>
                    <li>
                        <a href="{% url 'sobre_nosotros' %}" title="Sección de Sobre nosotros">SOBRE NOSOTROS</a>
                    </li>
                    <li>
                        <a href="{% url 'contacto' %}" title="Sección de Contacto">CONTACTO</a>
                    </li>
                    <li>
                        <a href="{% url 'blog' %}" title="Sección de Blog">BLOG</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer class="flex-row w100">
        <p>© 2025 Iska</p>
        <p>Todos los derechos reservados</p>
    </footer>

    <script>
        function toggleMenu() {
            document.querySelector(".menu-links").classList.toggle("show");
        }
    </script>
</body>
</html>
