{% extends 'base.html' %}

{% load static %}

{% block title %}Blog | Iska{% endblock %}

{% block content %}
    <section class="banner flex-center">
        <h3>Blog</h3>
    </section>
    <main>
        <section class="card-section">
            <div class="cards-container flex-col flex-center">
                {% for post in posts %}
                    <div class="card-horizontal flex-row">
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="card-horizontal-image">
                        <div class="card-horizontal-detail flex-col">
                            <p class="card-info-title card-horizontal-info-title">{{ post.title }}</p>
                            {% with words_list=post.content.split %}
                                <p class="card-horizontal-info-description">
                                    {% if words_list|length > 100 %}
                                        {% for word in words_list|slice:":100" %}{{ word }} {% endfor %}...
                                    {% else %}
                                        {{ post.content }}
                                    {% endif %}
                                </p>
                            {% endwith %}
                            <a href="{% url 'post' post.id %}" class="card-button">Ver post</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
    <section class="horizontal-section-main flex-col flex-center">
        <div class="horizontal-section-container flex-col flex-center">
            <p>Todo comenzó con una idea sencilla impulsada por una profunda pasión. Como pequeña empresa, nos enorgullecemos de la atención personalizada y la dedicación a cada detalle. Nuestro enfoque se basa en la calidad y la integridad, garantizando que todo lo que hacemos refleje nuestro compromiso con la excelencia.</p>
            <p>Creemos en el poder de las relaciones duraderas, tanto con nuestros clientes como dentro de nuestra comunidad. Cada paso que damos tiene como objetivo crear conexiones significativas y brindar un servicio excepcional. Estamos constantemente aprendiendo y adaptándonos, esforzándonos por satisfacer tus necesidades de la manera más efectiva.</p>
            <p>Profundiza en nuestra página web para descubrir cómo podemos trabajar juntos o comunicarnos directamente.</p>
        </div>
    </section>
{% endblock %}
