{% extends 'base.html' %}

{% load static %}

{% block title %}Iska{% endblock %}

{% block content %}
    <main class="horizontal-section-main flex-col flex-center">
        <div class="horizontal-section-container flex-col flex-center">
            <h2>Muchas gracias!</h2>
            <p>En breve nuestro equipo se va a comunicar con vos.</p>
            <p>Mientras tanto, te invitamos a seguir explorando nuestra página</p>
            <a href="{% url 'inicio' %}" class="general-button white-button">Volver al inicio</a>
        </div>
    </main>
{% endblock %}