<section class="contact-section-banner flex-row w100 bg-grey">
    <div class="flex-col flex-center">
        <a href="https://api.whatsapp.com/send?phone=15555555555&text=Hola!%20Me%20pueden%20compartir%20m%C3%A1s%20informaci%C3%B3n%20sobre%20los%20servicios%20de%20Iska%20por%20favor?%20Gracias!" target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
        <p>Teléfono</p>
        <a href="https://api.whatsapp.com/send?phone=15555555555&text=Hola!%20Me%20pueden%20compartir%20m%C3%A1s%20informaci%C3%B3n%20sobre%20los%20servicios%20de%20Iska%20por%20favor?%20Gracias!" target="_blank">(555) 555-5555</a>
        
    </div>
    <div class="flex-col flex-center">
        <a href="mailto:ejemplo@mail.com?subject=Consulta Iska&body=Hola,%20quisiera%20más%20información%20sobre%20sus%20servicios%20por%20favor.">
            <i class="fa-solid fa-envelope"></i>
        </a>
        <p>Email</p>
        <a href="mailto:ejemplo@mail.com?subject=Consulta Iska&body=Hola,%20quisiera%20más%20información%20sobre%20sus%20servicios%20por%20favor.">ejemplo@mail.com</a>
    </div>
    <div class="flex-col flex-center">
        <i class="fa-solid fa-thumbs-up"></i>
        <p>Conectar</p>
        <div class="social-media-icons-container flex-center">
            <a href="https://www.facebook.com/" target="_blank" rel="noreferrer">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="https://x.com/" target="_blank" rel="noreferrer">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank" rel="noreferrer">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com/" target="_blank" rel="noreferrer">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </div>
    </div>
</section>