{% extends 'base.html' %}

{% load static %}

{% block title %}Iska{% endblock %}

{% block content %}
    <main class="flex-col flex-center">
        <section>
            <div class="carousel-container">
                <div class="carousel">
                    {% for image_carousel in images_carousel %}
                        <div class="carousel-item flex-center">
                            <img src="{{ image_carousel.image.url }}" alt="{{ image_carousel.title }}">
                            <p class="carousel-title">{{ image_carousel.title }}</p>
                            <div class="carousel-button-container">
                                <a href="{% url 'servicios' %}" class="general-button">{{ image_carousel.text_button }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-command button-prev" onclick="moveSlide(-1)">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
                <button class="carousel-command button-next" onclick="moveSlide(1)">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
        </section>
        <section class="horizontal-section flex-col flex-center">
            <h1 class="title-section">¡Bienvenido a Iska!</h1>
            <p class="text-horizontal-section">En Iska nos dedicamos a brindarte un acompañamiento interdisciplinario personalizado para tu bienestar integral. Nuestro enfoque está pensado para facilitar la búsqueda del equilibrio que necesitas en tu vida diaria.</p>
        </section>
        <section class="card-section bg-grey">
            <h2 class="title-section">Servicios</h2>
            <div class="cards-container flex-center">
                {% for service in services %}
                    <div class="card">
                        <img src="{{ service.image.url }}" alt="{{ service.title }}" class="card-image">
                        <div class="container-card-info">
                            <p class="card-info-title">{{ service.title }}</p>
                            <p class="card-info-description">{{ service.short_description }}</p>
                        </div>
                        <a href="{% url 'servicios' %}" class="card-button">Más información</a>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section>
            <div class="faq-section">
                <h2 class="title-section">Preguntas frecuentes</h2>
                {% for faq in faqs %}
                    {% if forloop.first %}
                        <details open>
                    {% else %}
                        <details>
                    {% endif %}
                        <summary>{{ faq.question }}</summary>
                        <p>{{ faq.answer }}</p>
                    </details>
                {% empty %}
                    <p>No hay preguntas frecuentes todavía</p>
                {% endfor %}
            </div>
        </section>
        <section class="w100">
            <div class="flex-col horizontal-section horizontal-section-green bg-main flex-center">
                <p class="text-horizontal-section">“Estoy muy agradecido por el apoyo y la guía que he recibido de Iska. Su equipo profesional y comprometido me ha ayudado a mejorar mi bienestar de una manera que nunca pensé posible. ¡Altamente recomendado!”</p>
                <p>[Juan Pérez]</p>
            </div>
        </section>
        <section class="card-section">
            <h2 class="title-section">Conoce nuestro equipo</h2>
            <div class="cards-container flex-center">
                {% for team_member in team %}
                    <div class="card">
                        <img src="{{ team_member.image.url }}" alt="{{ team_member.full_name }}" class="card-image">
                        <div class="container-card-info">
                            <p class="card-info-title">{{ team_member.full_name }}</p>
                            <p class="card-info-description">{{ team_member.position }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="flex-col flex-center horizontal-section horizontal-section-green">
            <h2 class="title-section">Sobre nosotros</h2>
            <p class="text-horizontal-section">Iska es una clínica de acompañamiento interdisciplinario dedicada a proporcionar servicios personalizados de bienestar y equilibrio. Nuestro equipo de profesionales cualificados está comprometido a ayudarte a alcanzar tus metas y mejorar tu calidad de vida.</p>
            <div>
                <a href="{% url 'servicios' %}" class="general-button green-section-button">Descubre más</a>
            </div>
        </section>
        <section class="flex-row flex-center horizontal-section contact-section">
            <div class="flex-col flex-center">
                <i class="fa-solid fa-phone"></i>
                <p>Teléfono</p>
                <p>(555) 555-5555</p>
            </div>
            <div class="flex-col flex-center">
                <i class="fa-solid fa-envelope"></i>
                <p>Email</p>
                <p>ejemplo@mail.com</p>
            </div>
            <div class="flex-col flex-center">
                <i class="fa-solid fa-thumbs-up"></i>
                <p>Conectar</p>
                <div class="social-media-icons-container flex-center">
                    <a href="">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
            </div>
        </section>
    </main>

    <script>
        let currentIndex = 0;
        const items = document.querySelectorAll('.carousel-item');
        const totalItems = items.length;
    
        function moveSlide(direction) {
            currentIndex += direction;
            if (currentIndex < 0) currentIndex = totalItems - 1;
            if (currentIndex >= totalItems) currentIndex = 0;

            const carousel = document.querySelector('.carousel');
            const offset = -currentIndex * 100;
            carousel.style.transform = `translateX(${offset}%)`;
        }
    
        setInterval(() => moveSlide(1), 5000);
    </script>
{% endblock %}
