{% extends 'base.html' %}

{% load static %}

{% block title %}Iska{% endblock %}

{% block content %}
    <main>
        <div class="div-temporal-separador">
            <p>Carrusel</p>
        </div>
        <div class="div-temporal-separador">
            <p>¡Bienvenido a Iska!</p>
        </div>
        <div class="div-temporal-separador">
            <p>Servicios</p>
        </div>
        <div class="div-temporal-separador">
            <p>FAQ</p>
        </div>
        <div class="div-temporal-separador">
            <p>Testimonio</p>
        </div>
        <div class="div-temporal-separador">
            <p>Conoce a nuestro equipo</p>
        </div>
        <div class="div-temporal-separador">
            <p>Sobre nosotros</p>
        </div>
        <div class="div-temporal-separador">
            <p>Datos de contacto</p>
        </div>
    </main>
{% endblock %}
