{% extends 'base.html' %}

{% load static %}

{% block title %}Post | Iska{% endblock %}

{% block content %}
    <section class="banner flex-center">
        <h3>Post</h3>
    </section>
    <main class="horizontal-section-white flex-col flex-center">
        <div class="horizontal-section-container flex-col flex-center">
            <h2 class="title-section">{{ post.title }}</h2>
            <p>{{ post.content|linebreaksbr }}</p>
            <a href="{% url 'contacto' %}" class="general-button green-button">Contactanos</a>
        </div>
    </main>
{% endblock %}
