{% extends 'base.html' %}

{% load static %}

{% block title %}Servicios | Iska{% endblock %}

{% block content %}
    <section class="banner flex-center">
        <h3>Servicios</h3>
    </section>
    <section class="horizontal-section-main flex-col flex-center">
        <div class="horizontal-section-container flex-col flex-center">
            <p>Descubre nuestros servicios de terapia individual, asesoramiento nutricional, mindfulness y meditación en Iska. Nuestro enfoque interdisciplinario te guiará hacia el bienestar integral.</p>
        </div>
    </section>
    <main>
        <section class="card-section">
            <div class="cards-container flex-col flex-center">
                {% for service in services %}
                    <div class="card-horizontal flex-row">
                        <img src="{{ service.image.url }}" alt="{{ service.title }}" class="card-horizontal-image image-service">
                        <div class="card-horizontal-detail flex-col">
                            <p class="card-info-title card-horizontal-info-title">{{ service.title }}</p>
                            <p class="card-horizontal-info-description">{{ service.description }}</p>
                            {% for service_name, list_key_words in services_key_words.items %}
                                {% if service_name == service %}
                                    <ul class="key_words_services_list">
                                        {% for key_word in list_key_words %}
                                            <li>{{ key_word }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                            <a href="{% url 'contacto' %}" class="card-button">Contactanos</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
    <section class="horizontal-section-main flex-col flex-center">
        <div class="horizontal-section-container flex-col flex-center">
            <p>“Me siento agradecido por el apoyo y la guía que he recibido en Iska. Ha sido una experiencia transformadora que recomendaría a cualquiera que busque mejorar su bienestar.”</p>
        <p>[Juan Pérez]</p>
        </div>
    </section>
{% endblock %}
