{% extends 'base.html' %}

{% load static %}

{% block title %}Iska{% endblock %}

{% block content %}
    <main>
        <div class="div-temporal-separador">
            <p>Imagen de fondo Servicios</p>
        </div>
        <div class="div-temporal-separador">
            <p>Descubre nuestros servicios de terapia individual, asesoramiento nutricional, mindfulness y meditación en Iska. Nuestro enfoque interdisciplinario te guiará hacia el bienestar integral.</p>
        </div>
        <div class="div-temporal-separador">
            <p>Servicio 1</p>
        </div>
        <div class="div-temporal-separador">
            <p>Servicio 2</p>
        </div>
        <div class="div-temporal-separador">
            <p>Servicio 3</p>
        </div>
        <div class="div-temporal-separador">
            <p>Testimonio</p>
        </div>
    </main>
{% endblock %}
