{% extends 'base.html' %}

{% load static %}

{% block title %}Sobre nosotros | Iska{% endblock %}

{% block content %}
    <section class="banner flex-center">
        <h3>Sobre nosotros</h3>
    </section>
    <main>            
        <h2 class="title-section">Nuestra comunidad Iska</h2>
        <section class="card-section">
            <div class="cards-container flex-col flex-center">
                <div class="card-horizontal flex-row">
                    <img src="{% static 'images/mujer.webp' %}" alt="Imagen de una mujer">
                    <div class="card-horizontal-detail flex-col">
                        <p class="card-horizontal-info-description">Iska nació de la pasión por ayudar a las personas a mejorar su bienestar general. Con un enfoque interdisciplinario, nuestro equipo de expertos en nutrición, salud mental y bienestar físico está comprometido a acompañarte en tu camino hacia una vida más saludable y equilibrada.</p>
                        <p class="card-horizontal-info-description">Nuestra clínica se especializa en crear hábitos saludables de forma integral, para que puedas mejorar tu proceso de adaptación como emigrante y disfrutar de una mejor calidad de vida y armoniosa desde cualquier parte del mundo ya que nuestra modalidad de trabajo es online.</p>
                        <p class="card-horizontal-info-description">Empezá a formar parte de la Comunidad Iska para transformar tu vida y alcanzar tu máximo potencial. No estas sola/o!</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <section class="horizontal-section-main flex-col flex-center">
        <div class="horizontal-section-container flex-col flex-center">
            <h2>¿Listo para empezar tu camino hacia el bienestar?</h2>
            <p>Contáctanos para comenzar a crear hábitos saludables y mejorar tu proceso de adaptación como emigrante. Estamos aquí para acompañarte en este viaje.</p>
            <a href="{% url 'contacto' %}" class="general-button white-button">Contactar ahora</a>
        </div>
    </section>
{% endblock %}
