:root {
    --main-color: #356d5c;
    --dark-color: #333;
    --grey-color: #888;
    --light-color: #eee;
    --bad-color: #ff0000;
    --warning-color: #ffe150;
    --good-color: #008f39;
    --border-dark-color: #999;
    --border-light-color: #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'Roboto', sans-serif;
    color: white;
}

.color-white {
    color: white important;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.w100 {
    width: 100%;
}

.bg-main {
    background-color: var(--main-color);
}

.bg-grey {
    background-color: var(--light-color);
}

#check-menu-hamburger, .menu-hamburger {
    display: none;
}

.menu-list a:hover {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header, footer, section, main {
    padding: 20px 0;
}

header {
    align-items: center;
}

.container-logo {
    width: 270px;
}

.logo {
    width: 270px;
    height: 270px;
}

nav {
    justify-content: center;
    position: relative;
}

nav::before,
nav::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: var(--grey-color);
    margin: 0 15px;
}

nav ul {
    gap: 70px;
    list-style: none;
    margin: 30px;
    align-items: center;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
}

nav ul li a {
    text-decoration: none;
    color: var(--dark-color);
    text-align: center;
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 450px;
    margin: auto;
    overflow: hidden;
    border-radius: 5px;
}

.carousel {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    width: 100%;
    box-sizing: border-box;
}

.carousel img {
    width: 1300px;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
}

.carousel-title {
    position: absolute;
    top: 35%;
    width: 100%;
    color: white;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.carousel-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60%;
    width: 100%;
}

.general-button {
    padding: 10px;
    color: white;
    font-size: 22px;
    background-color: var(--main-color);
    text-decoration: none;
    border-radius: 5px;
    letter-spacing: 0.5px;
    border: none;
}

.general-button:hover, .button-prev:hover, .button-next:hover, .card-button:hover, .social-media-icons-container i:hover, details:hover {
    filter: brightness(1.2);
}

.white-button {
    color: var(--main-color);
    background-color: white;
}

.carousel-command {
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 30px;
}

.button-prev {
    left: 10px;
}

.button-next {
    right: 10px;
}

.horizontal-section-container {
    gap: 10px;
}

.horizontal-section-white {
    width: 100%;
    min-height: 250px;
}

.horizontal-section-white h1, .horizontal-section-white h2 {
    color: var(--main-color);
    font-size: 40px;
    font-weight: 400;
}

.horizontal-section-white p {
    color: var(--dark-color);
    font-size: 19px;
}

.horizontal-section-main {
    width: 100%;
    min-height: 250px;
    background-color: var(--main-color);
}

.horizontal-section-main h2 {
    font-size: 40px;
    font-weight: 400;
}

.horizontal-section-main p {
    font-size: 19px;
}

.contact-section {
    justify-content: space-evenly;
    min-height: 250px;
}

.contact-section div {
    gap: 10px;
    min-width: 200px ;
}

.contact-section i {
    color: var(--main-color);
    font-size: 35px;
}

.contact-section p, .contact-section a {
    color: var(--dark-color);
    font-size: 20px;
    text-decoration: none;
}

form {
    margin-top: 20px;
}

.form-group, .faq-section-container {
    margin: 10px 0;
}

form label {
    color: var(--dark-color);
}

form input, form textarea {
    padding-left: 5px;
    min-height: 30px;
    color: var(--dark-color);
    font-size: 16px;
}

form textarea {
    padding-top: 4px;
    resize: none;
}

form input:focus, form textarea:focus {
    border: 2px solid var(--main-color);
    outline: none;
    border-radius: 4px;
}

.social-media-icons-container i {
    font-size: 28px;
}

.title-section {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 400;
    color: var(--main-color);
    text-align: center;
}

.card-section {
    width: 100vw;
    margin: 20px 0;
}

.cards-container {
    gap: 25px;
    flex-wrap: wrap;
}

.card-vertical {
    padding: 10px 0;
    width: 300px;
    border-radius: 5px;
    text-align: center;
    gap: 15px;
}

.card-horizontal {
    border-radius: 5px;
}

.card-vertical-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.card-horizontal-image {
    width: 450px;
    height: 450px;
    object-fit: cover;
}

.card-info-title {
    color: var(--main-color);
}

.card-vertical-info-title {
    font-size: 21px;
}

.card-horizontal-info-title {
    font-size: 30px;
}

.card-horizontal-detail {
    padding: 20px;
    text-align: left;
    gap: 10px;
    max-width: 600px;
}

.card-info-description {
    margin: 10px 0;
    letter-spacing: 0.2px;
    color: var(--dark-color);
}

.card-horizontal-info-description {
    margin: 5px 0;
    color: var(--dark-color);
    font-size: 19px;
}

.card-button, .form-button {
    padding: 10px;
    color: white;
    font-size: 19px;
    background-color: var(--main-color);
    text-decoration: none;
    border-radius: 5px;
    letter-spacing: 0.4px;
    text-align: center;
    border: none;
}

details {
    background-color: var(--main-color);
    color: white;
    border: 1px solid var(--border-dark-color);
    overflow: hidden;
}

summary {
    padding: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

summary::after {
    content: "▼";
    font-size: 14px;
}

details[open] summary::after {
    content: "▲";
}

details p {
    margin: 0;
    padding: 15px;
    background-color: var(--light-color);
    color: var(--dark-color);
}

.banner, .carousel-container, .horizontal-section-container, .card-horizontal {
    max-width: 1200px;
    text-align: center;
}

details, summary {
    min-width: 1000px;
}

.banner {
    margin-bottom: 20px;
    position: relative;
    background-image: url('/static/images/banner.png');
    background-size: cover;
    width: 100%;
    height: 400px;
}

.banner h3 {
    position: absolute;
    font-size: 35px;
    font-weight: 400;
}

.key_words_services_list {
    padding-left: 0;
    list-style-position: inside;
}

.key_words_services_list li::marker {
    color: var(--main-color);
    font-size: 1.2em;
}

.key_words_services_list li {
    color: var(--dark-color);
    font-size: 18px;
}

.container-contact-section {
    width: 400px;
    gap: 10px;
    margin: 25px 10px;
}

footer {
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--dark-color);
    color: white;
    height: 80px;
}


@media screen  and (max-width: 1200px) {
    .banner, .carousel-container, .horizontal-section-container, .card-horizontal {
        max-width: 1000px;
    }
}

@media screen  and (max-width: 1000px) {
    .banner, .carousel-container, .horizontal-section-container, .card-horizontal {
        max-width: 800px;
    }

    details, summary {
        min-width: 800px;
    }

    .card-horizontal-info-description {
        font-size: 17px;
    }
}


@media screen  and (max-width: 900px) {
    nav ul {
        gap: 50px;
    }

    nav ul li {
        font-size: 18px;
    }

    .image-post {
        display: none;
    }

    .image-service {
        width: 350px;
        height: 350px;
    }
}

@media screen  and (max-width: 800px) {
    .banner, .carousel-container, .horizontal-section-container, .card-horizontal {
        max-width: 700px;
    }

    details, summary {
        min-width: 600px;
    }

    .container-contact-section {
        width: 300px;
        gap: 10px;
        margin: 25px 10px;
    }

    .card-horizontal {
        flex-direction: column;
        align-items: center;
    }

    .card-horizontal-image {
        display: none;
    }
}


@media (max-width: 768px) {
    header {
        gap: 20px;
    }

    .menu-hamburger {
        display: block;
    }

    .menu-hamburger i {
        color: var(--main-color);
        font-size: 2.7em;
        cursor: pointer;
    }

    nav::before,
    nav::after {
        content: none;
        display: none;
    }

    .menu-list {
        margin: 0;
        padding: 20px 0;
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background: var(--main-color);
        z-index: 1000;
    }

    #check-menu-hamburger:checked ~ .menu-list {
        display: flex;
    }

    .menu-list li {
        width: 100%;
        text-align: center;
    }

    .menu-list a {
        display: block;
        padding: 15px;
        color: white;
    }

    .menu-list a:hover {
        color: white;
    }

    .carousel-container {
        height: 350px;
    }
}


@media screen  and (max-width: 700px) {
    .contact-section {
        flex-direction: column;
        gap: 40px;
    }

    .banner, .carousel-container, .horizontal-section-container, .card-horizontal {
        max-width: 600px;
    }

    details, summary {
        min-width: 500px;
    }
}


@media screen  and (max-width: 600px) {
    .banner, .carousel-container, .horizontal-section-container, .card-horizontal {
        max-width: 550px;
    }
}


@media screen  and (max-width: 550px) {
    .banner, .carousel-container, .horizontal-section-container, .card-horizontal {
        max-width: 500px;
    }

    details, summary {
        min-width: 0;
        width: 100vw;
    }
}


@media screen  and (max-width: 500px) {
    .banner, .carousel-container, .horizontal-section-container, .card-horizontal {
        max-width: 450px;
    }
}


@media screen  and (max-width: 450px) {
    .banner, .carousel-container, .horizontal-section-container, .card-horizontal {
        max-width: 400px;
    }
}